<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" *ngIf="isAdmin" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <a class="nav-link" routerLink="/upload" routerLinkActive="active" >Upload Product</a>
        <a class="nav-link" routerLink="/cart" routerLinkActive="active" >Cart</a>
        <a class="nav-link" routerLink="/complaint" routerLinkActive="active" >Complaint</a>
        <a class="nav-link" routerLink="/guide" routerLinkActive="active" >Guide</a>
        <a class="nav-link"> {{ user.firstName }} | {{ user.role }}</a>
    </div>
</nav> -->


<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top"  *ngIf="user">
	<div class="container-fluid">
		<a href="" class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" routerLink="/home"  routerLinkActive="active"  *ngIf="isBuyer || isFarmer" [routerLinkActiveOptions]="{exact:true}">Home</a>
				</li>
        <li class="nav-item">
					<a class="nav-link" routerLink="/upload" *ngIf="isFarmer" routerLinkActive="active" >Add Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/my-products"  routerLinkActive="active" *ngIf="isFarmer">My Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/products" routerLinkActive="active" *ngIf="isBuyer">Products</a>
				</li>
        <li>
          <a class="nav-item nav-link"routerLink="/orders" routerLinkActive="active"   *ngIf="isBuyer || isFarmer" >Orders</a>
        </li>

        <!-- <li class="nav-item">
					<a class="nav-link" routerLink="/complaint" routerLinkActive="active" *ngIf="isBuyer || isFarmer" >Complaint</a>
				</li> -->

				<li class="nav-item">
					<a class="nav-link" routerLink="/cart" routerLinkActive="active" *ngIf="isBuyer" >Cart</a>
				</li>


				<li class="nav-item">
					<a class="nav-link" routerLink="/guide" routerLinkActive="active"  *ngIf="isBuyer || isFarmer" >Guide</a>
				</li>

        <li>
          <a class="nav-item nav-link"routerLink="/users" routerLinkActive="active"  *ngIf="isAdmin" >Users</a>
        </li>
        <li>
          <a class="nav-item nav-link"routerLink="/users" routerLinkActive="active"  *ngIf="isAdmin" >Products</a>
        </li>
        <li>
          <a class="nav-item nav-link"routerLink="/users" routerLinkActive="active"  *ngIf="isAdmin" >Orders</a>
        </li>
        <li>
          <a class="nav-item nav-link"routerLink="/upload-feedback" routerLinkActive="active"  *ngIf="isBuyer || isFarmer" >Feedback</a>
        </li>
        <li>
          <a class="nav-item nav-link"routerLink="/feedback" routerLinkActive="active"  *ngIf="isAdmin" >Feedback</a>
        </li>

        <li class="nav-item">
					<a class="nav-link" (click)="logout()"   routerLinkActive="active" >Logout</a>
				</li>

        <li>
          <a class="nav-link">[ {{ user.role }} ]</a>
        </li>


        <!-- <li class="nav-item">
					<a class="nav-link" routerLink="/checkout" routerLinkActive="active" >Checkout</a>
				</li> -->
			</ul>
		</div>
	</div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

