

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 p-2" *ngFor="let product of products">

          <div class="row p-2 bg-white border rounded">
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://www.verywellhealth.com/thmb/sCusJsIGUJ2Son6fYOIPihE55RM=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/the-wheat-allergy-diet-guide-1324279-primary-recirc-70ef0114e17e4f7b9a1faeab8b516e1e.jpg"></div>
            <div class="col-md-6 mt-1">
                <h5>{{product.name | uppercase}}</h5>
                <p>{{product.desc}}</p>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="d-flex flex-row align-items-center">
                    <h4 class="mr-1">Price ₹{{ product.price
                    }}</h4>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Buy</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to cart</button></div>
            </div>
        </div>
        </div>
    </div>
</div>


