

<!--- Welcome Section -->
<div style="background-image: url('https://www.solidbackgrounds.com/images/2560x1440/2560x1440-mint-solid-color-background.jpg'); background-size: 500%;"
class="container-fluid padding"><br>
	<div class="text-center">
		<div class="col-12"><br><br>
			<h1 style="color: rgb(20, 20, 20); font-family: 'cursive', lucida handwriting; font-size: 70px;" class="display-4">FARMi</h1><h2 style="color: rgb(20, 20, 20);font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 30px;"> Change the way you trade!</h2>
		</div>
		<div class="col-12">
			<p class="lead"></p>
		</div>
	</div>
</div>

<!--- Three Column Section -->

<!--- Two Column Section -->
<div style="background-color: rgb(255, 255, 255);">
	<div class="row text-center padding">
		<div class="col-12">
      <h2 style="color: rgb(0, 0, 0); font-family:'Courier New', Courier, monospace ;font-weight: bold">About Us</h2>
			<p style="color: rgb(0, 0, 0); text-align: justify;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: large; ">Farming assistant web service is a web-based project to help farmers ensure greater profitability
        through direct farmer to supplier and farmer to farmer communication. This service boosts business communication and brings transparency in the system. Separate login site allows area
        with appropriated functionality for farmer, suppliers and administrator. This innovative site
        allows for good farmer and supplier communication. When dealer publish an advertisement or
        offer, the respective farmers get notified via SMS message. The customers can also submit
        their grievances and complaints to respective farmers or authorities.</p>
        </div>

		</div>

	</div>




<!--- Emoji Section -->

<!--- Connect -->
<div style="background-color: rgb(134, 233, 164); height: 35%;" class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2 style="color: rgb(0, 0, 0); font-family:'Courier New', Courier, monospace ;font-weight: bold">Contact Us</h2>
      <!-- Single Footer Widget Area -->
      <div class="col-12">
        <div class="footer-widget mb-80">
          <div style="color: rgb(0, 0, 0);" class="contact-info">
           <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>Gujarat, India</span></p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i><span>farmi.products@gmail.com</span></p>
            <p><i class="fa fa-phone" aria-hidden="true"></i><span>+91 9687611741</span></p>
          </div>
        </div>
      </div>
		</div>

		<div class="col-12 social padding">
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
		</div>
	</div>
</div>

